<li><a href="<%= data.urls.behance %>" target="_blank"><%= icon 'behance' %></a></li>
<li><a href="<%= data.urls.instagram %>" target="_blank"><%= icon 'instagram' %></a></li>
<li><a href="<%= data.urls.facebook %>" target="_blank"><%= icon 'facebook' %></a></li>
<li><a href="<%= data.urls.vk %>" target="_blank"><%= icon 'vk' %></a></li>
<li><a href="mailto:<%= data.urls.mail %>" target="_blank"><%= icon 'mail-black' %></a></li>
