<%# Home > Team %>
<section class="s-team" id="about">
  <div class="b-section">
    <header>
      <h1 class="section-title">About Me</h1>
    </header>
    <div class="l-constrained-medium">
      <div class="s-team__photos">
        <% [ find_team_member_by_name("Anna Suprunenko") ].each do |member| %>
          <article id="<%= member.slug %>">
            <a href="">
              <img src="<%= team_member_avatar_path(member) %>"
                   alt="<%= member.name %>, a <%= member.job_title %> at <%= data.site.title %>"
                   class="image-circle pulse-grey-to-pink">
            </a>
          </article>
        <% end %>
      </div>
      <h2 class="s-team__based">Anna Suprunenko</h2>
      <div class="s-team__about">
        <p>
          I am a professional freelance artist who is working worldwide and I can offer you exclusive drawn by hand high-resolution illustrations. I am creating detailed watercolor botanical paintings and patterns. Besides, I am collaborating with clients of large and small companies. I am looking forward to work with you on your next project.
        </p>
      </div>
      <div class="s-team__btn">
        <%= component "cta-button", id: "cta-team" %>
      </div>
    </div>
  </div>
</section>
