<li><a href="<%= data.urls.home %>">Home</a></li>
<li><a href="<%= data.urls.work %>">Work</a></li>
<!-- <li><a href="<%= data.urls.services %>">Services</a></li> -->
<li><a href="<%= data.urls.team %>">About Me</a></li>
<!-- <li><a href="<%= data.urls.blog %>">Blog</a></li> -->
